/* 弹性布局 */
.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  -webkit-flex: 1;
  flex: 1;
}

.flex-item-center {
  -webkit-flex: 1;
  flex: 1;
}

.flex-item-1 {
  -webkit-flex: 1;
  flex: 1;
}

.flex-item-2 {
  -webkit-flex: 2;
  flex: 2;
}

.flex-row {
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-middle {
  -webkit-align-items: center;
  align-items: center;
}

.flex-middle a {
  display: inline-block;
  width: 100%;
}

.flex-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-baseline {
  -webkit-align-items: baseline;
  align-items: baseline;
}

.flex-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}

/* 1行超出截断 */
.line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 2行超出截断 */
.line2, .line3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 3行超出截断 */
.line3 {
  -webkit-line-clamp: 3;
}

//容器
.container {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

//筛选条件的框
.filtrate {
  position: relative;
  margin-top: 15px;
  padding: 20px 10px 20px;
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
}

.filtrate-item {
  position: relative;
}

.filtrate-item .name {
  width: 110px;
  font-size: 12px;
  color: #333;
  text-align: right;
  margin-right: 5px;
}

.filtrate .ant-input,
.filtrate .ant-select-selection {
  width: 180px !important;
  height: 32px !important;
  font-size: 12px;
  line-height: 32px !important;
  box-sizing: border-box;
  border-color: #e5e5e5;
}

.filtrate .ant-select-selection__rendered {
  line-height: 32px !important;
}

// 表格
.table {
  position: relative;
  margin-top: 15px;
}

.table-img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex !important;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

// 表格按钮间距
.operation .ant-btn {
  margin-right: 10px !important;
}

@media screen and (max-width: 1366px) {
  .operation .ant-btn {
    margin-bottom: 10px !important;
  }
}

// 图片上传
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}

.avatar-uploader {
  display: inline-block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.subMenuHide {
  display: none;
}

// 开始时间 结束时间 中间~
.ant-calendar-picker-input {
  height: 32px !important;
}

// 颜色样式
.bule {
  color: #1890ff;
}

.ant-form-item-required::before {
  display: inline-block !important;
  margin-right: 4px !important;
  content: "*" !important;
  font-family: SimSun, serif !important;
  line-height: 1 !important;
  font-size: 14px !important;
  color: #f04134 !important;
}

.ql-container {
  height: 500px;
}

.spe_ul {
  padding: 8px 48px 8px 16px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 4px;
  font-size: 12px;
  margin: 10px 0;
  .close_icon {
    font-size: 12px;
    position: absolute;
    right: 16px;
    top: 10px;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    cursor: pointer;
  }
}

// 上传图片 小框
.avatar-uploader-small,
.avatar-uploader-trigger-small,
.avatar-small {
  width: 80px;
  height: 80px;
}

.avatar-uploader-small {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}

.avatar-uploader-trigger-small {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.ant-select-disabled .ant-select-selection {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.65) !important;
}

.ant-input-disabled {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.65) !important;
}

.ant-input-number-disabled .ant-input-number-input {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.65) !important;
}

// 商品轮播图列表 审核把删除按钮隐藏
.carouselPics .anticon-delete {
  display: none;
}

.userDetail {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
}

//见证
.witness {
  width: 50%;
  float: right;
}
